.financial-page,
.financial-page * {
  box-sizing: border-box;
}
.financial-page {
  background: linear-gradient(
    180deg,
    rgba(255, 71, 71, 1) 0%,
    rgba(183, 51, 51, 1) 33.65384638309479%,
    rgba(170, 47, 47, 1) 62.0192289352417%,
    rgba(153, 42, 42, 1) 100%
  );
  height: 1024px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-1 {
  background: rgba(31, 31, 33, 0.82);
  width: 1455px;
  height: 154px;
  position: absolute;
  left: -15px;
  top: 0px;
}
.pages-toggles {
  display: flex;
  flex-direction: row;
  gap: 40px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1021px;
  position: absolute;
  left: 378px;
  top: 59px;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.roster {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.schedule {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.equipment {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-8 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.finances {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.alumni {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.team-logo {
  width: 155px;
  height: 155px;
  position: absolute;
  left: 36px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 14.25px;
  width: 216px;
  height: 253px;
  position: absolute;
  left: 555.32px;
  top: 236.59px;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 14.25px;
  width: 216px;
  height: 253px;
  position: absolute;
  left: 830.32px;
  top: 236.59px;
}
.total-revenue {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.300000190734863px;
  font-weight: 400;
  position: absolute;
  left: 575.23px;
  top: 285.14px;
  width: 103.6px;
  height: 37px;
}
.total-expenses {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.300000190734863px;
  font-weight: 400;
  position: absolute;
  left: 857.91px;
  top: 288.64px;
  width: 85.9px;
  height: 37px;
}
.div {
  color: #ff2828;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 861.97px;
  top: 345.09px;
}
.div2 {
  color: #006837;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 586.94px;
  top: 345.09px;
}
.systems-modules {
  background: #f3f5f9;
  border-radius: 14.25px;
  width: 1362.94px;
  height: 450.59px;
  position: absolute;
  left: 53.02px;
  top: 528.5px;
}
.item-name {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 144.58px;
  top: 631.22px;
}
.xx {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 181.08px;
  top: 783.68px;
}
.xx2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 181.08px;
  top: 701.02px;
}
.xx3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 749.46px;
  top: 698.84px;
}
.xx4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.73px;
  top: 698.84px;
}
.xx5 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 383.73px;
  top: 698.84px;
}
.xx6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -29.46px);
  top: 783.68px;
}
.xx7 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 157.27px);
  top: 783.68px;
}
.xx8 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 336.27px);
  top: 787.68px;
}
.xx9 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 749.46px;
  top: 864.46px;
}
.xx10 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.73px;
  top: 864.46px;
}
.xx11 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 383.73px;
  top: 864.46px;
}
.xx12 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 749.46px;
  top: 935.46px;
}
.xx13 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.73px;
  top: 935.46px;
}
.xx14 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 383.73px;
  top: 935.46px;
}
.xx15 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 749.46px;
  top: 1025.57px;
}
.xx16 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.73px;
  top: 1025.57px;
}
.xx17 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 383.73px;
  top: 1025.57px;
}
.xx18 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 181.08px;
  top: 860.46px;
}
.xx19 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 181.08px;
  top: 939.46px;
}
.xx20 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 181.08px;
  top: 1029.57px;
}
.category {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 348.73px;
  top: 631.22px;
}
.quantity {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 527.23px;
  top: 631.22px;
}
.unit-cost {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 714.96px;
  top: 631.22px;
}
.action {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 140.87px;
  top: 631.22px;
  width: 86.93px;
}
.edit-trash {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222.23px;
  top: 696.22px;
  overflow: hidden;
}
.edit {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-2 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222.23px;
  top: 779.06px;
  overflow: hidden;
}
.edit2 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash2 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-3 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222.23px;
  top: 859.08px;
  overflow: hidden;
}
.edit3 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash3 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-4 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222.23px;
  top: 928.83px;
  overflow: hidden;
}
.edit4 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash4 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-5 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1220.67px;
  top: 1017.3px;
  overflow: hidden;
}
.edit5 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash5 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.group-1 {
  height: auto;
  position: absolute;
  left: 85.35px;
  top: 669.2px;
  overflow: visible;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1281.97px;
  height: 0px;
  position: absolute;
  left: 70.32px;
  top: 911.43px;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1268.91px;
  height: 0px;
  position: absolute;
  left: 85.77px;
  top: 1002.59px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1268.91px;
  height: 0px;
  position: absolute;
  left: 84.36px;
  top: 837.74px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1268.91px;
  height: 0px;
  position: absolute;
  left: 84.36px;
  top: 753.84px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.add-player-button {
  position: absolute;
  inset: 0;
}
.add-player-button2 {
  background: #006837;
  border-radius: 10px;
  padding: 17px 82px 17px 81px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 241px;
  height: 55px;
  position: absolute;
  left: 1121px;
  top: 557.47px;
}
.add-item {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.add-svgrepo-com-1 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1147px;
  top: 557.47px;
  overflow: visible;
}
.tab-4 {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 18px 40px 18px 44px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 56px;
  position: absolute;
  left: 879px;
  top: 557.28px;
}
.generate-report {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.tab-3 {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 18px 40px 18px 44px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 56px;
  position: absolute;
  left: 470.17px;
  top: 557.47px;
}
.expenses {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.tab-1 {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 18px 40px 18px 44px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 56px;
  position: absolute;
  left: 66px;
  top: 557.47px;
}
.inventory {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.tab-2 {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 18px 40px 18px 44px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 56px;
  position: absolute;
  left: 266px;
  top: 557.47px;
}
.revenue {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.financial-reporting-track-revenue-and-expense {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 126.17px;
  top: 210.4px;
}
.financial-reporting-track-revenue-and-expense-span {
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.financial-reporting-track-revenue-and-expense-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.graph-1 {
  width: 275px;
  height: 273px;
  position: absolute;
  left: 1111.48px;
  top: 216.5px;
  overflow: hidden;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: -13.77px;
  top: 19.03px;
  overflow: visible;
}
.bmgt-407-mock-up-1440-x-1024-px-5-1 {
  border-radius: 8px;
  width: 62px;
  height: 100px;
  position: absolute;
  left: 965px;
  top: 289px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 62/100;
}
.bmgt-407-mock-up-1440-x-1024-px-6-1 {
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 62px;
  height: 100px;
  position: absolute;
  left: 687px;
  top: 289px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 62/100;
}
