.player-management-page,
.player-management-page * {
  box-sizing: border-box;
}
.player-management-page {
  background: linear-gradient(
    180deg,
    rgba(255, 71, 71, 1) 0%,
    rgba(183, 51, 51, 1) 33.65384638309479%,
    rgba(170, 47, 47, 1) 62.0192289352417%,
    rgba(153, 42, 42, 1) 100%
  );
  height: 1024px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-1 {
  background: rgba(31, 31, 33, 0.82);
  width: 1455px;
  height: 154px;
  position: absolute;
  left: -15px;
  top: 0px;
}
.pages-toggles {
  display: flex;
  flex-direction: row;
  gap: 40px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1021px;
  position: absolute;
  left: 378px;
  top: 59px;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.roster {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.schedule {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.equipment {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-8 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.finances {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.alumni {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.team-logo {
  width: 155px;
  height: 155px;
  position: absolute;
  left: 36px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.roster-management-manage-player-information-and-team-roster {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 126.17px;
  top: 210.4px;
}
.roster-management-manage-player-information-and-team-roster-span {
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.roster-management-manage-player-information-and-team-roster-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.activity {
  background: #f3f5f9;
  border-radius: 14.25px;
  width: 1268px;
  height: 589.3px;
  position: absolute;
  left: 86px;
  top: 310.64px;
}
.add-player-button {
  position: absolute;
  inset: 0;
}
.add-player-button2 {
  background: rgba(31, 72, 255, 0.85);
  border-radius: 10px;
  padding: 17px 82px 17px 81px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 225px;
  height: 55px;
  position: absolute;
  left: 1081px;
  top: 352.57px;
}
.add-player {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.add-svgrepo-com-1 {
  width: 3.82%;
  height: 5.37%;
  position: absolute;
  right: 19.24%;
  left: 76.94%;
  bottom: 60.2%;
  top: 34.43%;
  overflow: visible;
}
.search-bar-1 {
  background: #ffffff;
  width: 774px;
  height: 57px;
  position: absolute;
  left: 131.5px;
  top: 351.57px;
  overflow: hidden;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 18.07px;
  top: 11.18px;
  overflow: visible;
}
.search-by-name-position-or-jersey-number {
  color: rgba(0, 0, 0, 0.36);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  right: 40.2%;
  left: 9.93%;
  width: 49.87%;
  bottom: 31.58%;
  top: 31.58%;
  height: 36.84%;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 150px;
  top: 447px;
}
.xx {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 144.35px;
  top: 599.46px;
}
.xx2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 144px;
  top: 516px;
}
.xx3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 259.5px;
  top: 514.62px;
}
.xx4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1051px;
  top: 514.62px;
}
.xx5 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1051.35px;
  top: 680.24px;
}
.xx6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1051.35px;
  top: 751.24px;
}
.xx7 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1051.35px;
  top: 826.64px;
}
.xx8 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -330.65px);
  top: 599.46px;
}
.xx9 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 851.5px;
  top: 514.62px;
}
.xx10 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 700px;
  top: 514.62px;
}
.xx11 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.5px;
  top: 514.62px;
}
.xx12 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 411px;
  top: 514.62px;
}
.xx13 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -131.5px);
  top: 599.46px;
}
.xx14 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 20px);
  top: 599.46px;
}
.xx15 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 157.5px);
  top: 599.46px;
}
.xx16 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 309px);
  top: 599.46px;
}
.xx17 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 851.5px;
  top: 680.24px;
}
.xx18 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 700px;
  top: 680.24px;
}
.xx19 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.5px;
  top: 680.24px;
}
.xx20 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 411px;
  top: 680.24px;
}
.xx21 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 851.5px;
  top: 751.24px;
}
.xx22 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 700px;
  top: 751.24px;
}
.xx23 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.5px;
  top: 751.24px;
}
.xx24 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 411px;
  top: 751.24px;
}
.xx25 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 851.5px;
  top: 826.64px;
}
.xx26 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 700px;
  top: 826.64px;
}
.xx27 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 562.5px;
  top: 826.64px;
}
.xx28 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 411px;
  top: 826.64px;
}
.xx29 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 460.85px);
  top: 599.46px;
}
.xx30 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 259.5px;
  top: 680.24px;
}
.xx31 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 259.5px;
  top: 751.24px;
}
.xx32 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 259.85px;
  top: 826.64px;
}
.xx33 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 144.35px;
  top: 676.86px;
}
.xx34 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 144.35px;
  top: 754.26px;
}
.xx35 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 144.35px;
  top: 831.66px;
}
.name {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 246px;
  top: 447px;
}
.position {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 382px;
  top: 447px;
}
.year {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 549px;
  top: 447px;
}
.injured {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 680px;
  top: 447px;
}
.email {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 838px;
  top: 447px;
}
.phone {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1051px;
  top: 447px;
}
.action {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 141.09px;
  top: 447px;
  width: 86.93px;
}
.edit-trash {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222px;
  top: 512px;
  overflow: hidden;
}
.edit {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-2 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222px;
  top: 594.84px;
  overflow: hidden;
}
.edit2 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash2 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-3 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222px;
  top: 674.86px;
  overflow: hidden;
}
.edit3 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash3 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-4 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1222px;
  top: 744.62px;
  overflow: hidden;
}
.edit4 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash4 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.edit-trash-5 {
  width: 70px;
  height: 33px;
  position: absolute;
  left: 1220.44px;
  top: 818.37px;
  overflow: hidden;
}
.edit5 {
  height: auto;
  position: absolute;
  left: 0.02px;
  top: 2.88px;
  overflow: visible;
}
.trash5 {
  height: auto;
  position: absolute;
  left: 42.19px;
  top: 0px;
  overflow: visible;
}
.group-12 {
  height: auto;
  position: absolute;
  left: 85.12px;
  top: 484.98px;
  overflow: visible;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1268.91px;
  height: 0px;
  position: absolute;
  left: 84.13px;
  top: 569.62px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1281.97px;
  height: 0px;
  position: absolute;
  left: 70.09px;
  top: 727.21px;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1268.91px;
  height: 0px;
  position: absolute;
  left: 85.54px;
  top: 803.66px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
  border-width: 1px 0 0 0;
  width: 1268.91px;
  height: 0px;
  position: absolute;
  left: 84.13px;
  top: 653.52px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
